body {
    background-color: #f8f9fa; /* A light grey background */
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.content-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

/* Make the main player chart responsive */
#rankingChart {
    max-width: 100%;
    height: auto;
}

/* Style the modal for a better fullscreen experience */
#chartModal .modal-body {
    /* Make the chart container tall to allow the chart to expand */
    height: 80vh; 
}
